body {
  background-color: #111;
  color: var(--primary-color);
  font-family: sans-serif;
}

:root {
  --primary-color: red;
}
/* PARA QUE SIRVE LAS VARIABLES EN CSS: colores, fuentes, gap, border-radius, font-size